<h1>{{ title }}</h1>
<br>
<div>
  <p>You need to login or Sign Up to begin</p>
</div>

<nav>
  <ul>
    <li>
      <a routerLink="login" routerLinkActive="active" aria-current="page">
        Login to Existing Account
      </a>
    </li>
    <li>
      <a routerLink="signup" routerLinkActive="active" aria-current="page">
        Sign Up for a New Account
      </a>
    </li>
  </ul>
</nav>
<hr/>
<router-outlet></router-outlet>

<footer>
  <p>Developed by Ryan Tran</p>
  <p>Student ID: 101460443</p>
  <p>COMP3133 - Assignment 2 - Winter 2025</p>
</footer>
